.score-total-value{
  background-color: yellow;
  background-size: cover;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.score-total-value-text{
    text-align: center;
    vertical-align: middle;
    line-height: 40px;  
}

.score-md-card-actions{
    text-align: right;
}