/* You can add global styles to this file, and also import other style files */
 @import '~https://fonts.googleapis.com/icon?family=Material+Icons';
 @import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
    background: #fafafa;
    margin: 0;
    font-family: Roboto, sans-serif;
}
  
md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
} 

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.form-element-full-width {
  width: 100%;
  margin-bottom: 0.5em;
}

.md-card-avatar-text-container{
  background-color: yellow;
  background-size: cover;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.md-card-avatar-span-text{
    text-align: center;
    vertical-align: middle;
    line-height: 40px;  
}

.md-card-actions-align{
    text-align: right;
}